<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Hello Document</title>
</head>
<body>
<h1 style="text-align: center">Hello headline</h1>
<table style="border:1px solid; border-collapse:collapse;">
    #{table('{
        name: "table1",
        thead: [
            {
                style: {
                    "background-color":"#6599FF",
                    "text-align":"center",
                    "font-weight":"bold"
                }
            }
        ],
        tbody: [
            {
                style: {
                    "background-color":"#dddddd"
                },
                cells: [
                    {
                        style: {
                            "text-align":"right",
                            "padding":"1px",
                            "border":"1px dashed black"
                        }
                    }
                ]
            },
            {
                style: {
                    "background-color":"white"
                },
                cells: [
                    {
                        style: {
                            "text-align":"center",
                            "padding":"1px"
                        }
                    },
                    {
                        style: {
                            "padding":"1px",
                            "font-family":"Courier",
                            "text-align":"right"
                        }
                    },
                    {
                        style: {
                            "padding":"4px",
                            "background-color":"#ff7e00",
                            "vertical-align":"bottom"
                        }
                    }
                ]
            }
        ],
        tfoot: [
            {
                style: {
                    "background-color":"#6599FF",
                    "text-align":"center",
                    "font-weight":"bold"
                },
                cells: [
                    {
                        colspan: 3
                    }
                ]
            }
        ]
    }')}
</table>
</body>
</html>
